<footer class="footer">
    
    <div class="halfpageone">
        Anthony Smyrski is a designer and art director based in the Netherlands. Find out more <a href="/about">here.</a><br><br>
        For his design work, please visit <a href="www.anthonysmyrski.com">Studio Anthony Smyrski</a>
    </div>
    <br>
    <br>
    <div class="halfpagetwo">
        <a href="/about">About</a><br>
        <a href="{{ .Site.BaseURL }}">Index</a><br>
        <link>RSS</link><br>
        <a href="mailto:tony@tonysmyrski.com">Email</a> <br>
        ©2021
    </div>
   
    
</footer>
